<%- include('./partials/Header.ejs') %>

    <div class="container-fluid">
        <div class="mt-4">
            <h2>
                <%= title %>
            </h2>
            <p>
                <%= content %>
            </p>
        </div>
    </div>

<%- include('./partials/Footer.ejs') %>