<%- include('./partials/Header.ejs') %>

    <div class="container-fluid pb-4">
        <div class="container mt-3">
            <h2>
                <%= title %>
            </h2>
            <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas! Dignissimos cumque assumenda tenetur illo recusandae. Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, libero quas!
            Assumenda aliquam iure dolore voluptatem!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit expedita quibusdam quasi earum sequi debitis quas. Numquam, liberoqli!
            </p>
        </div>
    </div>

<%- include('./partials/Footer.ejs') %>