<%- include('./partials/Header.ejs') %>

    <div class="container-fluid">
        <div class="mt-4 h-100">
            <h2>
                <%= title %>
            </h2>
            <p>
                <%= content %>
            </p>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" src="public/images/istockphoto-1182641010-170667a.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

<%- include('./partials/Footer.ejs') %>